* {
  margin: 0;
  outline: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 25em) {
  html {
    font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
  }
}

@media screen and (max-width: 40em) {
  html {
    font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
  }
}
